*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Wix Madefor Display', sans-serif; */
    text-decoration: none;
}
body{
    height: 100vh;
    background-color: #20413e;
    /* background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-size: cover; */
}
.vlny{
    height: 0px;
} 
.spacer{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer1{
    background-image: url('images/haikei-vlny2.svg');
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
a:hover{
    color: orange;
}
/*HEADER*/
header{
    position: relative;
}
.navbar{
    width: 100%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #013220;
    padding: 0 80px;
}

.navbar .logo a{
    font-size: 24px;
    font-weight: bold;
}
.navbar .links{
    display: flex;
    gap: 32px;
}
.navbar .toggle-btn{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
.action-btn{
    background-color: orange;
    color: #000;
    padding: 12px 32px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .4);
}
.action_btn{
    background-color: orange;
    color: #000;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action-btn:hover{
    scale: 1.05;
    color: #000;
}
.action-btn:active{
    scale: 0.95;
}
.action_btn:hover{
    scale: 1.05;
    color: #000;
}
.dropdown-menu{
    display: none;
    position: absolute;
    right: 32px;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(35px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-menu.open{
    height: 210px;
}
.dropdown-menu li{
    padding: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown-menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.text{
    padding-top: 5rem;
    color: #fff;
    flex: 1;
}
@media screen and (max-width:990px){
    #hero{
        flex-direction: column;
    }
    .pic-main{
        order: 1;
    }
    .text{
        order: 2;
    }
}
@media screen and (max-width:990px){
   .text{
    padding-top: 5rem;
   }
   .text h1{
    font-size: 36px !important;
    margin: auto 20px !important;
    text-align: center !important;
   }
   .text p{
    width: 90% !important;
    margin: auto 20px !important;
    margin-bottom: 20px !important;
    text-align: center !important;
   }
   .mezera{
    display: block !important;
   }
}
.text h1{
    font-size: 48px;
    margin-bottom: 16px;   
    text-align: left;
    margin: auto 40px;
}
.mezera{
    display: none;
}
.text p{
    text-align: left;
    font-size: 16px;
    margin: auto 40px;
    width: 80%;
    margin-bottom: 30px;
}
#hero{
    height: calc(100vh - 30px);
    background-color: #20413e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width:990px){
    #hero{
        height: fit-content !important;
    }
}
.more{
    background-color: #ffa500;
    color: #000;
    padding: 12px 32px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    margin-right: 15px;
}
.more2{
    border: solid 1px orange;
    border-radius: 20px;
    padding: 12px 32px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}
.more2:hover{
    scale: 1.05;
    background-color: orange;
    color: #000;
    transition: .5s;
    text-decoration: underline;
}
.more:hover{
    scale: 1.05;
    color: #000;
    text-decoration: underline;
}
#odeslat:hover{
    scale: 1.04;
}
#odeslat{
    box-shadow: 0 2px 16px rgba(0, 0, 0, .6);
    color: #000;
    font-weight: bolder;
}
.action-buttons{
    margin: auto 60px;
    display: block;
}
@media screen and (max-width:990px){
    .action-buttons{
        display: flex;
        flex-direction: column;
        margin: auto 30px;
        gap: 10px;
        align-items: center;
    }
    .more, .more2{
        text-align: center;
        width: 90%;
        margin-right: 0;
    }
    
}
.kde-zacit{
    margin: auto 40px;
    /* margin-top: 10px; */
    color: #939393;
    font-size: 13px;
    padding-bottom: 15px;
}
.fa-question{
    font-size: 16px;
    margin-right: 5px;
    border: solid 1px #939393;
    border-radius: 20px;
    padding: 4px 4px;
}

/*KONTAKT*/
.container{
    width: 50%;
    margin: auto 60px;
    display: flex;
    /* margin-top: 280px; */
    justify-content: center;
    align-items: center; 
    border-radius: 20px;
    
} 
.container2{
    width: 50%;
    margin: auto 60px;
    border-radius: 20px;
    background-color: #265f5a;
    text-align: left;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .4);
    min-height: 80vh;
}
.container2 h1{
    color: #fff;
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 40px;
    margin-left: 90px;
}
.container2 p{
    color: #fff;
    font-size: 20px;
    margin: auto 30px;
    max-width: 730px;
}
#contact-form{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    flex-direction: row;
    padding-top: 5rem;
    align-items: center;
}
@media screen and (max-width:990px){
    #contact-form{
        flex-direction: column;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
    .container{
        width: 90%;
    }
    .container2{
        width: 90%;
    }
}
.container2 h2{
    color: #fff;
    margin: auto 30px;
    font-weight: lighter;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 15px;
}
svg, footer{
    display: block;
}
.container2 h3{
    color: #fff;
    margin: auto 30px;
    margin-bottom: 20px;
    font-weight: lighter;
    margin-top: 40px;
    font-size: 22px;
}
.fa-instagram{
    font-size: 50px;
    margin-right: 15px;
    margin-left: 20px;
}
.fa-facebook{
    font-size: 50px;
    margin-left: 20px;
}
form{
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 100%;
    border-radius: 20px;
    background-color: #0d2624;
    min-height: 80vh; 
    box-shadow: 0 2px 16px rgba(0, 0, 0, .4);
}
 @media screen and (max-width:990px) {
    form{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .container{
        padding-top: 3rem;
    }
}
form h3{
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    border: solid 1px orange;
    border-radius: 20px;
    padding: 12px 32px;
    width: fit-content;
    font-weight: bold;
    margin-bottom: 20px;
}
form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background-color: #f5f5f5;
    font-size: 16px;
    border-radius: 5px;
}
form button{
    padding: 15px;
    background: orange;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}
.nadpis-cenik{
    display: flex;
    color: #fff;
    padding-top: 13rem;
    text-align: center;
}
.nadpis-cenik h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
.nadpis-cenik p{
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
    padding-bottom: 15px;
    border-bottom: 2px solid orange;
}
.nadpis{
    display: flex;
    justify-content: center;
    padding-top: 12rem;
    color: #fff;
    text-align: left;
    display: inline-block;
}
.nadpis h1{
    font-size: 48px;
    margin-bottom: 16px;
    text-align: center;
    font-weight: bold;
    margin: auto 5px;
}
.nadpis p{
    font-size: 16px;
    text-align: center;
    margin: auto 10px ;
}
.wave{
    margin-top: -2rem;
}
/*CENÍK WEBY VYBER*/

#wave2{
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

#weby{
    height: fit-content;
    background-color: #265f5a;
}
.fa-circle-2{
    color: #fff;
    font-size: 20px;
}
.check-list{
    text-align: center;
}
.check-list h3{
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 16px;
}
.check-list p{
    font-size: 20px;
}
.check-list b{
    color: orange;
}
.tvorba-webu-obrazek {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tvorba-webu-obrazek img{
    border-radius: 10px;
    max-width: 80%;
    height: auto;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .4);
    margin-bottom: 20px;
}
.tvorba-webu-obrazek-mobil img{
    display: none;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    margin: 0 auto;
}
.cards{
    display: flex;
    justify-content: center;
    background-color: #265f5a;
    padding-bottom: 2rem;
}
@media screen and (max-width:990px){
    .cards{
        flex-direction: column;
       align-items: center;
       margin: 0 10px;
    }
    .card{
        margin-bottom: 30px !important;
        width: 100%;
        pointer-events: none;
    }
    #web-cena{
      text-align: center !important;
      margin: 0 5px !important;
    }
    #cards-section{
        padding-top: 3rem;
        background-color: #265f5a !important;
    }
    #card-btn{
        pointer-events: auto;
    }
}
.card{
    background: #fff;
    flex: 1;
    max-width: 400px;
    min-height: 700px;
    background-color: #20413e;
    margin: 0 30px;
    border-radius: 20px;
    color: #fff;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .4);
    transition: .5s ease;
}

.card:hover{
    scale: 1.04;
    transition: .5s ease;
}

.card b{
    color: orange;
    font-size: 21px;
}
.card h2{
    text-align: center;
    margin-top: 2rem;
    color: orange;
    font-size: 1.7rem;
}
.card p{
    text-align: center;
    font-size: 18px;
    line-height: 35px;
    line-height: 50px;
    margin: 0 5px;
    padding-bottom: 30px;
}
.card-btn-div{
    display: flex;
}
#cards-section{
    background-color: #265f5a;
   margin-bottom: 0;
   padding-bottom: 8rem;
}

#web-cena{
    font-style: italic;
    color: #d1d1d1;
    font-size: 14px;
    text-align: left;
    margin: 0 auto;
    max-width: 1300px;
    padding-bottom: 16px;
   
}
#vlna-cenik{
    background-color: #20413e;
}
#card-btn{
    margin: 10px auto;
    background-color: orange;
    color: black;
    padding: 12px 32px;
    border-radius: 20px;
    font-weight: bolder;
    transition: .5s;
    font-size: 16px;
}
#card-btn:hover{
  transition: .5s;
  background-color: #fff;
}

@media screen and (max-width:990px){
    .nadpis{
        padding-top: 6rem;
    }
    .nadpis h1{
        font-size: 36px;
    }
    .nadpis-cenik h1{
        font-size: 36px !important;
    }
    .nadpis-cenik{
        padding-top: 5rem;
        margin: auto 10px ;
    }
    #weby{
        padding-top: 3rem !important;
    }
    .tvorba-webu-obrazek img{
        display: none;
    }
    .tvorba-webu-obrazek-mobil img{
        display: block;
    }
    #wave2{
        display: none;
    }
}

#FAQ{
    background-color: #20413e;
    margin-top: -8rem;
}
.faq{
    max-width: 900px;
    margin-top: 1rem;
    /* padding-bottom: 1rem; */
    cursor: pointer;
    width: 100%;
    /* margin-left: -2rem; */
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #20413e;
    padding: 10px 0 10px;
    border-radius: 10px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .2);
}
.question h3{
    font-size: 22px;
    color: #fff;
    background-color: #20413e;
    margin: 0 15px;
    font-weight: normal;
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height .55s ease;
    transition-delay: 0;
}
.answer b{
    color: orange;
}
.faq.active .answer{
    max-height: 450px;
    animation: fade .5s ease;
}
.answer a{
    font-size: 16px;
    text-decoration: underline;
}
.answer p{
    padding-top: 1rem;
    font-size: 16px;
    color: #fff;
    margin: 0 20px;
}
.faq.active .fa-angle-down{
    transform: rotate(180deg);
}
.fa-angle-down{
    transition: transform .3s ease-in;
    font-size: 20px;
    margin-right: 15px;
    color: #fff;
}
@keyframes fade{
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
.container5{
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width:990px){
    .container5{
        flex-direction: column;
    }
    .faq-container{
        order: 1;
        max-width: 900px !important;
        text-align: center;
        margin-right: 0 !important;
        margin: 0 auto;
    }
    .obrazek-faq img{
        
        max-width: 300px !important;
        height: auto !important;
       
    }
    .obrazek-faq{
        width: 100%;
        padding: 3rem 0 3rem;
    }
    #FAQ h1{
        font-size: 36px !important;
        text-align: center !important;
        margin: 0 10px !important;
        border-bottom: none !important;
        text-align: center !important;
    }
    /* #FAQ{
        padding-top: 10rem !important;
    } */
    .question h3{
        font-size: 20px;
    }
    .faq.active .answer{
        max-height: 8700px !important;
    }
}
.fa-check{
    margin-right: 5px;
    color: #61a146;
}
/* .fa-xmark{
    margin-right: 5px;
    color: red;
} */
.xmark{
    margin-right: 5px;
    color: red;
}
.faq-container{
    background-color: #0d2624;
    height: fit-content;
    padding: 10px 30px 30px;
    margin-right: 30px;
    max-width: 900px;
    border-radius: 10px;
    flex: 1;
}
#FAQ h1{
    font-size: 48px;
    color: #fff;
    border-bottom: 2px solid orange;
    text-align: center;
    margin: 0 auto 3rem;
    
}
.obrazek-faq img{
    max-width: 600px;
    height: auto;
}
.obrazek-faq{
    /* width: 100%; */
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}
.fa-paper-plane{
    font-size: 20px;
    margin-left: 5px;
}
.fa-circle-check{
    font-size: 20px;
    margin-right: 8px;
    color: orange;
}
.fa-envelope-open, .fa-phone{
    font-size: 35px;
    color: #ffa500;
    margin-right: 8px;
}

@media  screen and (max-width:990px) {
    .fa-envelope-open, .fa-phone{
        font-size: 25px;
    }
}
#mail, #mobil{
    font-size: 28px;
    /* margin: auto 30px; */
}
@media screen and (max-width:990px){
    #mail, #mobil{
        font-size: 23px;
    }
}
/*FOOTER*/
footer{
    background-color: #3b3b3b;
    padding: 40px 0;
}
.container3{
    max-width: 1200px;
    margin: auto;
}
.footer-ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #fff;
    margin-bottom: 35px;
    font-weight: 500px;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: #013220;
    height: 4px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 50%;
}
.footer-col .footer-ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col .footer-ul li a{
    font-size: 16px;
    color: #bbbbbb;
    font-weight: 300;
    text-decoration: none;
    display: block;
    transition: all 0.5 ease;
}
.footer-col .footer-ul li a:hover{
   color: #fff;
   padding-left: 3px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
}
.icon2{
    height: 40px;
    width: 40px;
}
.pic-main img{
    width: 600px;
    height: auto;
    margin-right: 150px;
}
.pic-main{
    flex-basis: 40%;
    text-align: right;
    padding-top: 10rem;
}
@media screen and (max-width:1400px){
    .pic-main img{
        margin-right: 80px !important;
        max-width: 550px;
    }
}
@media screen and (max-width:1300px){
    .pic-main img{
        margin-right: 50px !important;
        max-width: 500px;
    }
}
@media screen and (max-width:990px){
    .pic-main img{
        max-width: 300px;
        margin-right: 0 !important;
    }
    .pic-main{
        padding-top: 0;
    }
}
@media(max-width: 990px){
    .navbar .links, 
    .navbar .action-btn{
        display: none;
    }

    .navbar .toggle-btn{
        display: block;
    }

    .dropdown-menu{
        display: block;
    }
    .navbar{
        padding: 0 40px;
        height: 60px;
    }
}
@media(max-width: 567px){
    .dropdown-menu{
        left: 2rem;
        width: unset;
    }
}

@media(max-width:990px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width:580px){
    .footer-col{
        width: 100%;
    }
}
@media screen and (min-width:990px){
    #vlna3{
        display: none;
    }
}

.nav-link[aria-current="page"]{
    color: orange;
    border-bottom: 1px solid #ffa500;
}
/*
#120a59
*/