*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body{
    height: 100vh;
    /* background-color: #20413e; */
    /* background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-size: cover; */
}
.vlny{
    height: 0px;
} 
.spacer{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer1{
    background-image: url('images/haikei-vlny2.svg');
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
a:hover{
    color: orange;
}
/*HEADER*/
header{
    position: relative;
}
.navbar{
    width: 100%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #013220;
    padding: 0 80px;
}

.navbar .logo a{
    font-size: 24px;
    font-weight: bold;
}
.navbar .links{
    display: flex;
    gap: 32px;
}
.navbar .toggle-btn{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
.action-btn{
    background-color: orange;
    color: #fff;
    padding: 12px 32px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action_btn{
    background-color: orange;
    color: #fff;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action-btn:hover{
    scale: 1.05;
    color: #fff;
}
.action-btn:active{
    scale: 0.95;
}
.action_btn:hover{
    scale: 1.05;
    color: #fff;
}

.dropdown-menu{
    display: none;
    position: absolute;
    right: 32px;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-menu.open{
    height: 180px;
}
.dropdown-menu li{
    padding: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown-menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.text{
    padding-top: 300px;
    color: #fff;
}
.text h1{
    font-size: 48px;
    margin-bottom: 16px;   
    text-align: left;
    margin-left: 40px;
}
.text p{
    text-align: left;
    font-size: 16px;
    margin-left: 40px;
    width: 50%;
    margin-bottom: 30px;
}
#hero{
    height: calc(100vh - 30px);
    background-color: #20413e;
}
.more{
    background-color: orange;
    color: #fff;
    padding: 12px 32px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    margin-right: 15px;
}
.more2{
    border: solid 1px orange;
    border-radius: 20px;
    padding: 12px 32px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.more2:hover{
    scale: 1.05;
    background-color: orange;
    color: #fff;
    transition: .5s;
    text-decoration: underline;
}
.more:hover{
    scale: 1.05;
    color: #fff;
    text-decoration: underline;
}
#odeslat:hover{
    scale: 1.04;
}
.action-buttons{
    margin-left: 60px;

}
.kde-zacit{
    margin-left: 40px;
    margin-top: 10px;
    color: #939393;
    font-size: 13px;
}
.fa-question{
    font-size: 16px;
    margin-right: 5px;
    border: solid 1px #939393;
    border-radius: 20px;
    padding: 4px 4px;
}

/*KONTAKT*/
.container{
    width: 50%;
    margin: auto 60px;
    display: flex;
    /* margin-top: 280px; */
    justify-content: center;
    align-items: center; 
    border-radius: 20px;
    
} 
.container2{
    width: 50%;
    margin: auto 60px;
    border-radius: 20px;
    background-color: #265f5a;
    text-align: left;
    
    min-height: 80vh;
}
.container2 h1{
    color: #fff;
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 40px;
    margin-left: 90px;
}
.container2 p{
    color: #fff;
    font-size: 20px;
    margin: auto 30px;
    max-width: 730px;
}
#contact-form{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    flex-direction: row;
    padding-top: 5rem;
    align-items: center;
}
@media screen and (max-width:990px){
    #contact-form{
        flex-direction: column;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
    .container{
        width: 90%;
    }
    .container2{
        width: 90%;
    }
}
.container2 h2{
    color: #fff;
    margin: auto 30px;
    font-weight: lighter;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 15px;
}
svg, footer{
    display: block;
}
.container2 h3{
    color: #fff;
    margin: auto 30px;
    margin-bottom: 20px;
    font-weight: lighter;
    margin-top: 40px;
    font-size: 22px;
}
.fa-instagram{
    font-size: 50px;
    margin-right: 15px;
    margin-left: 20px;
}
.fa-facebook{
    font-size: 50px;
    margin-left: 20px;
}
form{
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 100%;
    border-radius: 20px;
    background-color: #0d2624;
    min-height: 80vh; 
}
 @media screen and (max-width:990px) {
    form{
        padding-top: 2rem;
    }
    .container{
        padding-top: 3rem;
    }
}
form h3{
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    border: solid 1px orange;
    border-radius: 20px;
    padding: 12px 32px;
    width: fit-content;
    font-weight: bold;
    margin-bottom: 20px;
}
form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background-color: #f5f5f5;
    font-size: 16px;
    border-radius: 5px;
}
form button{
    padding: 15px;
    background: orange;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}
.nadpis{
    display: flex;
    justify-content: center;
    padding-top: 12rem;
    color: #fff;
    text-align: left;
    display: inline-block;
}
.nadpis h1{
    font-size: 48px;
    margin-bottom: 16px;
    text-align: center;
}
.nadpis p{
    font-size: 16px;
    text-align: center;
    margin: auto 10px ;
}
@media screen and (max-width:990px){
    .nadpis{
        padding-top: 6rem;
    }
    .nadpis h1{
        font-size: 36px;
    }
}
.required-field::before{
    content: "*";
    color: red;
    margin-right: 5px;
}
.fa-paper-plane{
    font-size: 20px;
    margin-left: 5px;
}
.fa-circle-check{
    font-size: 20px;
    margin-right: 8px;
    color: orange;
}
.fa-envelope-open, .fa-phone{
    font-size: 35px;
    color: #ffa500;
    margin-right: 8px;
}
@media  screen and (max-width:990px) {
    .fa-envelope-open, .fa-phone{
        font-size: 25px;
    }
}
#mail, #mobil{
    font-size: 28px;
    /* margin: auto 30px; */
}
@media screen and (max-width:990px){
    #mail, #mobil{
        font-size: 23px;
    }
}
/*FOOTER*/
footer{
    background-color: #3b3b3b;
    padding: 40px 0;
}
.container3{
    max-width: 1200px;
    margin: auto;
}
.footer-ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #fff;
    margin-bottom: 35px;
    font-weight: 500px;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: #013220;
    height: 4px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 50%;
}
.footer-col .footer-ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col .footer-ul li a{
    font-size: 16px;
    color: #bbbbbb;
    font-weight: 300;
    text-decoration: none;
    display: block;
    transition: all 0.5 ease;
}
.footer-col .footer-ul li a:hover{
   color: #fff;
   padding-left: 3px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
}
.icon2{
    height: 40px;
    width: 40px;
}

@media(max-width: 990px){
    .navbar .links, 
    .navbar .action-btn{
        display: none;
    }

    .navbar .toggle-btn{
        display: block;
    }

    .dropdown-menu{
        display: block;
    }
    .navbar{
        padding: 0 40px;
        height: 60px;
    }
}
@media(max-width: 567px){
    .dropdown-menu{
        left: 2rem;
        width: unset;
    }
}

@media(max-width:990px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width:580px){
    .footer-col{
        width: 100%;
    }
}


.nav-link[aria-current="page"]{
    color: orange;
    border-bottom: 1px solid #ffa500;
}
/*
#120a59
*/