/*

    colors

--text: #ffffff;
--background: #020202;
--primary: #2e00ff;
--secondary: #27134e;
--accent: #a6f7bd; 

576px for portrait phones.
768px for tablets.
992px for laptops.
1200px for large devices.
*/

::selection {
    background-color: #fff;
    color: #000;
}

::-moz-selection {
    background-color: #fff;
    color: #000;
}

::-webkit-selection {
    background-color: #fff;
    color: #000;
}

@media screen and (max-width:1600px) {

    .hero-text h2,
    .git-container h5,
    .contact-header h2,
    .reference-header h2,
    .nadpis-web h1,
    .nadpis-tvorba-web h4 {
        font-size: 4rem !important;
    }

    .ref-img {
        max-width: 100% !important;
    }

    .hero-sec-text h3,
    .uvodni-text p {
        font-size: 2.4rem !important;
    }

    .wrapper__img {
        height: fit-content !important;
    }

    .projects {
        margin: 0 2rem !important;
    }

    .reference-img {
        width: 400px !important;
        height: auto !important;
    }

    nav {
        left: 50% !important;
        transform: translate(-50%) !important;
        top: 46% !important;
    }

    .second-menu {
        position: absolute;
        left: 50% !important;
        transform: translate(-50%);
        top: 16% !important;
    }

    nav ul li:nth-child(2) {
        left: 0% !important;
    }

    nav ul li {
        left: 0% !important;
    }

    nav ul li a {
        font-size: 4rem !important;
    }

    .aside-text-img {
        width: 80% !important;
    }

    .tvorba-zpusob h5,
    .tvorba-zpusob__eshop h5 {
        font-size: 12rem !important;
    }

    .tvorba-zpusob {
        height: 80vh !important;
    }
}

@media screen and (max-width:1400px) {
    .comparison-container {
        flex-direction: column !important;
        gap: 8rem !important;
        width: fit-content !important;
        margin: 0 auto !important;
    }
}

@media screen and (max-width:1300px) {
    .reference-img {
        width: 300px !important;
        height: auto !important;
    }
}

@media screen and (max-width:1200px) {
    .contact-text {
        flex-direction: column !important;
    }

    .kontakt-person img {
        display: none !important;
    }

    .direct-contact-container {
        border-top-right-radius: 100px !important;
        border-top-left-radius: 100px !important;
        padding: 1rem 0 !important;
    }

    .direct-contact-forms {
        width: 90% !important;
        margin: 0 auto !important;
    }

    .kontakt-text-second::after {
        width: 90% !important;
    }

    .kontakt-text-second p {
        text-align: center !important;
    }

    .contact-text {
        gap: 2rem !important;
    }

    .uvodni-text p {
        font-size: 2rem !important;
    }

    .aside-text-img {
        gap: 4rem !important;
        flex-direction: column !important;
    }

    .reversed-ati {
        flex-direction: column-reverse !important;
    }

    .tvorba-zpusob h5,
    .tvorba-zpusob__eshop h5 {
        font-size: 8rem !important;
    }

    .tvorba-zpusob {
        height: 65vh !important;
    }

    .when-agile {
        margin: 0 auto !important;
        width: 80% !important;
    }

    .tab-content {
        padding-top: 2rem !important;
        border-radius: 100px !important;
    }
}

@media screen and (max-width: 1000px) {
    .row {
        flex-direction: column !important;
        width: fit-content !important;
        margin: 0 auto;
    }

    .reference-img {
        width: 100% !important;
        height: auto !important;
    }

    .menu-contacts-left,
    .menu-contacts-right {
        display: none;
    }

    #web-dev-popis {
        border-radius: 100px !important;
        padding: 1rem 0 5rem !important;
    }
}

@media screen and (max-width:769px) {

    .hero-text h2,
    .git-container h5,
    .heading-ref,
    .contact-header h2,
    .reference-header h2,
    .nadpis-web h1,
    .nadpis-tvorba-web h4 {
        font-size: 2.8rem !important;
    }

    #blob {
        display: none;
    }

    #blur {
        display: none;
    }

    .hero-text {
        width: 100% !important;
        margin-bottom: 2rem !important;
    }

    .call-to-action a {
        font-size: 1.1rem !important;
        padding: 15px 25px !important;
    }

    .hero-sec-text h3,
    .uvodni-text p {
        width: 85% !important;
        font-size: 1.8rem !important;
    }

    .services {
        flex-direction: column !important;
    }

    .servis {
        width: calc(100% - 20px) !important;
        padding: 0 !important;
        margin: 0 10px !important;
        max-width: 100% !important;
    }

    .dot-pattern,
    .dot-pattern-web {
        display: none !important;
    }

    .logos {
        padding: 0px !important;
    }

    .logo {
        left: 20px !important;
        font-size: 0.8rem !important;
    }

    .hide-btn a {
        padding: 15px 1.2em !important;
        font-size: 0.8rem !important;
        top: 10px !important;
        right: 70px !important;
    }

    #menuBtn {
        width: 30px !important;
        height: 30px !important;
        right: 1em !important;
        top: 12px !important;
    }

    #menuBtn img {
        width: 30px !important;
        margin-top: 0px !important;
    }

    .odd {
        margin-top: 0rem !important;
    }

    .even {
        margin-bottom: 0rem !important;
    }

    .projects {
        flex-direction: column !important;
        gap: 0 !important;
    }

    .ref-single {
        margin-bottom: 3rem !important;
    }

    .git-container h5 {
        margin: 2rem 1rem !important;
    }

    .footer-legal {
        flex-direction: column !important;
        align-items: center;
        gap: 0.5rem 0;
        padding: 1rem 1rem !important;
    }

    .footer-container {
        width: 95% !important;
    }

    .menu-container {
        height: 4.5rem !important;
    }

    form {
        flex-direction: column !important;
        gap: 0.2rem !important;
        max-width: 100% !important;
    }

    .second-half {
        width: auto !important;
    }

    .first-half {
        width: 100% !important;
        overflow: hidden !important;
    }

    .form-container {
        width: 90% !important;
    }

    nav ul li a {
        font-size: 3rem !important;
    }

    .second-menu li a {
        font-size: 1.7rem !important;
    }

    .uvodni-text {
        flex-basis: auto !important;
    }

    #web-dev-popis h4,
    .eshop-popis h4 {
        font-size: 2rem !important;
    }

    .tvorba-zpusob h5,
    .tvorba-zpusob__eshop h5 {
        font-size: 5rem !important;
    }

    .agile-img img {
        width: 100% !important;
        height: 700px;
    }

    .pros,
    .cons {
        width: 95% !important;
        margin: 0 auto;
        height: fit-content !important;
    }
    .pros h5,
    .cons h5 
    {
        margin: 2rem 1rem 1rem !important;
    }
    .when-agile h4 {
        font-size: 2rem !important;
        text-align: center;
    }
    .aside-text-img img {
        width: 100% !important;
    }
    .aside-text-img {
        width: 90% !important;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg) skew(0deg, 0deg);
    }

    50% {
        transform: rotate(0deg) skew(20deg, 0deg);
    }

    to {
        transform: rotate(360deg) skew(0deg, 0deg);
    }
}

@keyframes fade-in_noScale {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes logo-slider {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes fade-in {
    0% {
        scale: .3;
        opacity: 0;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(50px);
    }
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #020202;
    overflow-x: hidden;
    transition: overflow-x 0.5s;
    font-family: 'Bricolage Grotesque', sans-serif;
}

body.menu-open {
    overflow-y: hidden;
}

.nadpis-container {
    height: 100vh;
    overflow-x: hidden;
}

#hero-text-gradient {
    background: linear-gradient(90deg, #2e00ff, #a6f7bd);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.opening-text {
    height: 100vh;
}

#blob {
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, #a6f7bd, mediumpurple);
    animation: rotate 30s infinite;
    opacity: 0.8;
    z-index: -2;
}

#blur {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    backdrop-filter: blur(12vmax);
}

.logo {
    position: fixed;
    left: 40px;
    top: 5px;
    font-size: 1.1rem;
    color: #ffffff;
    font-family: 'Bricolage Grotesque', sans-serif;
    z-index: 8;
}

.logo a {
    text-decoration: none;
    color: #ffffff;
}

.hide-btn a {
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    border: 3px solid #27134e;
    padding: 20px 1.2em;
    font-family: 'Bricolage Grotesque', sans-serif;
    position: fixed;
    font-size: 1.1rem;
    right: 100px;
    top: 0.9em;
    z-index: 8;
    transition: all .4s ease;
}

.hide-btn a:hover {
    color: #a6f7bd;
    background-color: #27134e;
}

.call-to-action a {
    color: #000;
    background-color: #a6f7bd;
    width: fit-content;
    text-decoration: none;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 1.3rem;
    padding: 20px 30px;
    border-radius: 50px;
    z-index: 6;
}

.nadpis-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-text h2 {
    font-family: 'Bricolage Grotesque', sans-serif;
    text-align: center;
    font-size: 7rem;
    color: white;
    margin: 0rem;
    z-index: 3;
    width: 100%;
    animation: fade-in_noScale 1s;
}

.kontakt-text-second p {
    font-family: 'Bricolage Grotesque', sans-serif;
    color: #fff;
    text-align: left;
    font-size: 2rem;
    margin-top: 1rem;
    position: relative;
}

.kontakt-text-second::after {
    content: ' ';
    position: absolute;
    width: 40%;
    height: 2px;
    background-color: #3e3e3e;
}

.contact-header h2,
.reference-header h2 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 6rem;
    color: #fff;
    text-align: center;
    animation: fade-in_noScale 1s;
}

.hero-text {
    margin-bottom: 1.5rem;
    width: 80%;
}

.services {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
}

.servis {
    background-color: #fff;
    padding: 1rem 1rem;
    width: 450px;
    min-height: 700px;
    border-radius: 20px;
    text-align: center;
}

.servis h4 {
    font-family: 'Bricolage Grotesque', sans-serif;
}

.hero-sec-text h3 {
    color: #fff;
    font-family: 'Bricolage Grotesque', sans-serif;
    text-align: left;
    margin: 0 auto;
    width: 50%;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 4rem;
}

#primary,
#tertiary {
    color: #2e00ff;
    font-weight: bold;
    text-decoration: none;
}

#secondary {
    color: #a6f7bd;
    font-weight: bold;
    text-decoration: none;
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: black;
}

.logos::after,
.logos::before {
    content: " ";
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    z-index: 2;
}

.logos::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #020202);
}

.logos::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #020202);
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide img {
    height: 100px;
    margin: 0 80px;
}

.logos-slide {
    display: inline-block;
    animation: 25s logo-slider infinite linear;
}

.colored-svg {
    filter: invert(100%);
    user-select: none;
}

.wrapper-btn {
    filter: url('#goo');
}

.button-cta {
    display: inline-block;
    text-align: center;
    background: #a6f7bd;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-size: 1.25rem;
    animation: fade-in .5s;
}

.button-cta:before,
.button-cta:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: #a6f7bd;
    border-radius: 50%;
    transition: transform .3s ease;
    transform: scale(0);
    z-index: -1;
}

.button-cta:before {
    top: -25%;
    left: 20%;
}

.button-cta:after {
    bottom: -25%;
    right: 20%;
}

.button-cta:hover:before,
.button-cta:hover:after {
    transform: none;
}

.dot-pattern {
    width: 100%;
    opacity: .4;
    user-select: none;
}

.dot-pattern-mapp {
    width: 100%;
    opacity: .4;
    user-select: none;
}

.secondary-hero-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.heading-ref {
    color: #fff;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-top: 10rem;
}


.form-container {
    width: 70%;
    margin: 0 auto 5rem;
}

form {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.first-half {
    width: 50%;
}

.second-half {
    width: 50%;
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
}

#name::-webkit-input-placeholder {
    color: #fff;
}

#name:-moz-placeholder {
    color: #fff;
}

#name::-ms-input-placeholder {
    color: #fff;
}

#name::placeholder {
    color: #fff;
}

input,
textarea {
    padding: 1.5rem 2rem;
    background-color: transparent;
    border: 1px solid #2e00ff;
    border-radius: 30px;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #fff;
    font-family: 'Bricolage Grotesque', sans-serif;
}

textarea {
    width: 100%;
    box-sizing: border-box;
}

input::placeholder,
textarea::placeholder {
    font-family: 'Bricolage Grotesque', sans-serif;
}

::-webkit-input-placeholder {
    color: #000;
}

:-moz-placeholder {
    color: #000;
}

::-moz-placeholder {
    color: #000;
}

:-ms-input-placeholder {
    color: #000;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.reference-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

button {
    padding: 1.5rem 1rem;
    color: #000;
    background-color: #a6f7bd;
    border: none;
    cursor: pointer;
    font-family: 'Space Grotesk', sans-serif;
    border-radius: 30px;
    font-size: 1.1rem;
    transition: .3s ease-in;
}

button:hover {
    background-color: #2e00ff;
    color: #fff;
}

.kontakt-telefon,
.kontakt-mail {
    margin-bottom: 1rem;
    padding: 0rem 1rem;
    border-radius: 50px;
    color: #a6f7bd;
}

.person-cont {
    margin-top: 5rem;
    padding: 0 1rem;
}

.icon-cont {
    margin-right: 8px;
    font-size: 1.2rem;
    color: #a6f7bd;
}

.kontakt-telefon p,
.kontakt-mail p {
    font-size: 1.4rem;
}

.kontakt-telefon a,
.kontakt-mail a {
    font-size: 2.2rem;
}

.kontakt-telefon a,
.kontakt-mail a {
    text-decoration: none;
    color: #fff;
    transition: .2s ease-in;
}

.kontakt-mail a:hover,
.kontakt-telefon a:hover {
    color: #2e00ff;
}

#sideNav {
    width: 100%;
    height: 100vh;
    position: fixed;
    right: -100%;
    top: 0;
    background: #fff;
    z-index: 9;
    font-size: 19px;
    transition: 0.4s;
}

nav {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-20%, -40%);
}

nav ul li {
    position: relative;
    left: 40%;
}

.menu-contacts-left,
.menu-contacts-right {
    position: absolute;
    bottom: 2rem;
}

.menu-contacts-left a,
.menu-contacts-right a {
    text-decoration: none;
    margin-right: 4rem;
    color: #000;
    transition: .3s ease;
}

.menu-contacts-left a:hover,
.menu-contacts-right a:hover {
    color: #2e00ff;
}

.menu-contacts-left {
    left: 4rem;
}

.menu-contacts-right {
    right: 2rem;
}

nav ul li:nth-child(2) {
    left: 10%;
}

.second-menu {
    position: absolute;
    right: 30%;
    top: 23%;
    width: fit-content;
}

.second-menu li a {
    text-decoration: none;
    color: #000;
    font-size: 2rem;
}

.second-menu li {
    list-style: none;
    width: fit-content;
    white-space: nowrap;
}

nav ul li {
    list-style: none;
    text-align: left;
    margin-bottom: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 7rem;
    transition: 0.3s ease;
}

nav ul li a:hover,
.second-menu li a:hover {
    color: #2e00ff;

}

#menuBtn img {
    width: 40px;
    margin-top: 5px;
    height: auto;
    filter: invert(100%);
    user-select: none;
}

#menu[src*="close3.png"] {
    margin-top: 10px;
    width: 30px;
}

#span-menu {
    font-size: 2rem;
    margin-right: 1rem;
    font-family: 'Space Grotesk', sans-serif;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.odd {
    margin-top: 8rem;
}

.even {
    margin-bottom: 8rem;
}

.ref-img {
    max-width: 700px;
    border-radius: 1em;
    transition: scale 300ms;
}

.ref-img:hover {
    scale: 105%;
}

.wrapper__img {
    overflow: hidden;
    border-radius: 1em;
    height: 700px;
}

.ref-single p {
    color: #fff;
    font-size: 1.7rem;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: bold;
    margin: 1rem 0;
}

.attribute {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0;
    flex-wrap: wrap;
}

.attribute p {
    margin: 0;
    border: 1px solid #a6f7bd;
    border-radius: 50px;
    padding: 8px 20px;
    font-size: 1rem;
}

.footer-logo a {
    font-size: 2rem;
    margin: 0;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer-logo-white a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
}

.footer-logo p {
    font-size: 1.5rem;
    margin: 0;
    color: #fff;
}

.footer-logo-white p {
    font-size: 1.5rem;
    margin: 0;
    color: #000;
}

.footer-container {
    display: flex;
    flex-direction: row;
    margin: 3rem auto 0;
    justify-content: space-between;
    width: 80%;
    border-radius: 50px;
    position: relative;
}

.footer-container-web {
    width: 80%;
    margin: 0 auto;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-menu-white {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

.footer-menu-white a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
}

.footer-menu a:hover {
    color: #a6f7bd;
    text-decoration: underline;
}

.footer-menu-white a:hover {
    color: #2e00ff;
    text-decoration: underline;
}

.footer-legal p,
.footer-legal a {
    color: #fff;
    text-decoration: none;
    margin: 0;
}

.footer-legal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    background-color: #2e00ff;
    padding: 2rem 3rem;
    border-radius: 50px;
}

.underline-thru {
    position: relative;
}

.underline-thru::before {
    content: '';
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .underline-thru:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

.underline-thru-black {
    position: relative;
}

.underline-thru-black::before {
    content: '';
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #2e00ff;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .underline-thru-black:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

.underline-thru-blue {
    position: relative;
}

.underline-thru-blue::before {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #2e00ff;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .underline-thru-blue:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}



#footer-sec {
    padding-bottom: 1rem;
}

#footer-sec-web {
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: #1a1a1a;
}

#footer-sec-white {
    background-color: #fff;
    padding-bottom: 1rem;
}

.git-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.git-container h5 {
    color: #fff;
    font-size: 6rem;
    text-align: center;
    margin: 2rem 6rem;
}

.web-uvodni-sekce-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.nadpis-web h1 {
    color: #fff;
    font-size: 7rem;
    width: 100%;
    text-align: center;
    font-family: 'Bricolage Grotesque', sans-serif;
    animation: fade-in_noScale 1s;
}

.uvodni-text p {
    color: #ffffff;
    font-size: 3rem;
    text-align: left;
    width: 80%;
}

.uvodni-text-container {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}

.dot-pattern-web {
    width: 80%;
}

.svg-pattern-web {
    width: 50%;
    opacity: .4;
}

.svg-pattern-mapp {
    width: 50%;
}

.dots-contact {
    width: 70%;
}

.podnadpis-webove-str p {
    color: #000;
    font-size: 1.5rem;
}

.uvodni-text {
    flex-basis: 50%;
}

.arrow-scroll img {
    width: 100px;
    animation: bounce 3s infinite;
    transition: 0.3s ease;
}

.arrow-scroll img:hover {
    animation-play-state: paused;
    opacity: 0.8;
}

.menu-container {
    height: 6.2rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 6;
    transition: background-color 0.3s ease;
}

.menu-scrolled {
    background-color: black;
    opacity: .8;
}

/* .menu-container::before {
    content: ' ';
    height: 6.2rem;
    width: 100%;
    position: fixed;
    top: 0;
    transition: .4s ease;
    z-index: 2;
    background: black;
} */

.square-web {
    background-color: white;
    width: 400px;
    height: 400px;
    border-radius: 1em;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
}

.square-web h3 {
    font-size: 3rem;
    text-align: center;
    margin: 3rem 0 3rem;
}

.square-web p {
    font-size: 1rem;
    margin: 0 2rem;
}

.square-web-img img {
    width: 80px;
}

.square-web-img {
    display: flex;
    justify-content: center;
    margin: 0 0 3rem;
}

.square-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    max-width: 1500px;
    margin: 0 auto 0;
}

#web-dev-popis {
    background-color: #1a1a1a;
    padding: 5rem 0 10rem;
    margin-top: 5rem;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

.eshop-popis {
    padding: 5rem 0 10rem;
}

#web-dev-popis h4,
.eshop-popis h4 {
    font-size: 3rem;
    color: #2e00ff;
    text-align: center;
}

.nadpis-tvorba-web h4 {
    color: #fff;
    font-size: 6rem;
    text-align: center;
    margin: 0;
    padding: 5rem 0 5rem;
}

.nadpis-tvorba__eshop h4 {
    color: #fff;
    font-size: 6rem;
    text-align: center;
    margin: 0;
    padding: 5rem 0 0rem;
}


.nadpis-tvorba-web {
    position: relative;
    display: flex;
    justify-content: center;
}

.tvorba-webu-section {
    background-color: #000;
}

.timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #a6f7bd;
    left: calc(50% - 1px);
}

.timeline-item {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-dot {
    background-color: #a6f7bd;
    width: 45px;
    height: 45px;
    position: absolute;
    left: calc(50% - 18px);
    border-radius: 50%;
    top: 30px;
}

.check-mark {
    background-image: url(./img/check-mark.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 38px;
    width: 40px;
    height: 40px;
}

.clock-icon {
    background-image: url(./img/clock-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    background-size: 38px;
}

.timeline-content {
    padding: 30px;
    padding-top: 18px;
    border-radius: 1em;
    background-color: #f5f5f5;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.timeline-content h3 {
    font-size: 30px;
    letter-spacing: normal;
    margin-bottom: 16px;
    color: #000;
}

.timeline-content p {
    font-size: 1.125rem;
}

.timeline-order {
    font-size: 14px;
    display: flex;
    align-items: flex-start;
    color: #2e00ff;
}

.timeline-arrow {
    color: #2e00ff;
}

.tvorba-zpusob {
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tvorba-zpusob__eshop {
    color: #2e00ff;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#project,
#agile {
    margin: 0;
    position: relative;
}

#project:hover,
#agile:hover {
    cursor: pointer;
}

.tvorba-zpusob h5,
.tvorba-zpusob__eshop h5 {
    margin: 0;
    font-size: 18rem;
}

.tvorba-zpusob h5 {
    opacity: 1;
    transition: opacity 0.3s;
}

.x-zpusob {
    margin-top: 2rem;
    font-size: 0.1rem;
    position: relative;
    height: 2px;
    background-color: #3e3e3e;
    width: 80%;
}

/* .x-zpusob::before {
    content: ' ';
    position: absolute;
    width: 200000%;
    left: -100000%;
    top: 50%;
    height: 2px;
    background-color: #3e3e3e;
} */
.cons-icon {
    color: red;
    margin-right: 1rem;
    width: 45px;
    height: 45px;
}

.pros-icon {
    margin-right: .5rem;
    margin-top: .4rem;
    width: 45px;
    height: 45px;
}

.pros-check {
    color: #008000;
    margin-right: .5rem;
}

.cons-x {
    color: red;
    margin-right: .5rem;
}

.pros h5 {
    color: #000;
    font-size: 3rem;
    margin: 2rem 1rem 3rem;
    display: flex;
    flex-direction: row;
}

.cons h5 {
    color: #000;
    font-size: 3rem;
    margin: 2rem 1rem 3rem;
    display: flex;
    flex-direction: row;
}

.pros,
.cons {
    background-color: #fff;
    width: 600px;
    height: 310px;
    border-radius: 1em;
    margin-top: -6rem;
}

.comparison-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.pros p,
.cons p {
    color: #000;
    font-size: 1.2rem;
    margin: 0 1rem 1rem;
}

.tab-content {
    background-color: #1a1a1a;
    padding: 5rem 0 5rem;
    border-radius: 200px;
}

.when-agile h4 {
    color: #fff;
    font-size: 3rem;
    margin: 3rem 0 1rem;
}

.when-agile {
    display: flex;
    flex-direction: column;
    margin: 5rem auto 0;
    width: 70%;
}

.when-agile p {
    max-width: 1300px;
    color: #fff;
    font-size: 1.5rem;
    margin: 0 0 1rem;
}

.agile-img img {
    width: 1400px;
    height: 700px;
    border-radius: 1em;
}

.agile-img {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.kontakt-person img {
    width: 500px;
    height: 600px;
    border-radius: 1em;
}

#mecir {
    color: #fff;
    font-size: 3.5rem;
    margin: 0.5rem 0 0;
}

#CEO {
    color: #fff;
    margin: 0 0 3rem;
    font-size: 1.1rem;
}

.contact-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

.direct-contact-forms {
    width: 40%;
}

.direct-contact-container {
    background-color: #1a1a1a;
    padding: 5rem 0;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

/* faq-sekce */

.faq.active .fa-angle-down {
    transform: rotate(180deg);
}

.fa-angle-down {
    transition: transform .3s ease-in;
    font-size: 20px;
    margin-right: 15px;
    color: #a6f7bd;
}

.faq {
    margin-top: 1rem;
    cursor: pointer;
    width: 65%;
}

#faq {
    background-color: #1a1a1a;
    padding: 3rem 0 5rem;
    border-radius: 200px;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px;
    position: relative;
}

.question::after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #3e3e3e;
    bottom: 0px;
}

.question h4 {
    font-size: 2rem;
    color: #fff;
    background-color: #1a1a1a;
    margin: 0 15px .2rem;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height .55s ease;
    transition-delay: 0;
}

.faq.active .answer {
    max-height: 450px;
    animation: fade .5s ease;
}

.answer p {
    padding-top: 1rem;
    font-size: 1.3rem;
    color: #fff;
    /* margin: 0 20px; */
    padding: 5px 40px 5px;
    text-align: left;
}

.faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 3rem;
}

.faq-nadpis h5 {
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 5rem 0 0;
    font-size: 6rem;
}

.nadpis-mapp h1 {
    color: #fff;
    font-size: 7rem;
    width: 100%;
    text-align: center;
    animation: fade-in_noScale 1s;
}

.mapp-container-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#what-mapp {
    height: 100vh;
}

#techstack {
    margin-top: -30rem;
}

.techstack-heading h4 {
    color: #fff;
    font-size: 6rem;
    margin: 0;
    position: relative;
    text-align: center;
}

/* .techstack-heading h4::after{
    content: ' ';
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #3e3e3e;
    bottom: 0;
    left: 0;
} */

.techstack-heading p {
    max-width: 50%;
    color: #fff;
    margin: 0 auto;
    font-size: 1.5rem;
}

.techstack-heading {
    position: relative;
    background-color: #000;
    padding-bottom: .5rem;
    padding-top: 5rem;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
}

.chrakteristics-heading h4 {
    color: #2e00ff;
    font-size: 6rem;
    text-align: center;
    width: 100%;
}

#charakteristics-sec {
    background-color: #1a1a1a;
    padding: 1rem;
    border-radius: 200px;
    margin-top: 6rem;
    z-index: 300;
}

.charac-sub-container {
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin-bottom: 10rem;
    position: relative;
}

.charac-sub-container:nth-child(-n+2)::after {
    content: ' ';
    position: absolute;
    height: 2px;
    width: 90%;
    background-color: #3e3e3e;
    bottom: -60%;
}

.charac-sub-container p {
    color: #fff;
    margin: auto 0;
    font-size: 1.4rem;
    width: 45%;
    line-height: 130%;
}

.charac-sub-container h5 {
    color: #fff;
    margin: 0;
    font-size: 4.5rem;
    width: 30%;
    line-height: 95%;
}

#menuBtn {
    width: 50px;
    height: 50px;
    background: #2e00ff;
    position: fixed;
    right: 1.5em;
    text-align: center;
    top: 1em;
    border-radius: 50%;
    z-index: 998;
    cursor: pointer;
    padding: 0.5em;
    user-select: none;
}

.heading-guide h6 {
    color: #fff;
    font-size: 6rem;
    margin: 0 0 3rem;
    text-align: center;
}

.path-guide a {
    color: #000;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
}

.path-guide {
    background-color: #fff;
    width: 400px;
    height: 200px;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guidepost-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

#coding-mapp {
    max-width: 100%;
}

.aside-text-img p {
    color: #fff;
    font-size: 1.4rem;
}

.aside-text-img img {
    width: 600px;
    border-radius: 1em;
}

.aside-text-img {
    display: flex;
    gap: 8rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.features-aside {
    display: flex;
    justify-content: center;
    margin-top: 9rem;
}

.text__part h4 {
    color: #a6f7bd;
    font-size: 3rem;
    margin: 0;
}

.text__part-var2 h4 {
    color: #2e00ff;
    margin: 0;
    font-size: 3rem;
}

.faq-link {
    color: #a6f7bd;
    text-decoration: none;
    transition: 0.2s ease;
}

.faq-link:hover {
    opacity: 0.7;
    text-decoration: underline;
}

.reference-img {
    width: 500px;
    height: 650px;
    border-radius: 1em;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 3rem;
}